@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    background-color: #24272B;
    height: 100vh;
    position: relative;
    display: flex;
}
.orange{
    position: absolute;
    height: 50%;
    top: 50%;
    left: 60%;
    transition: ease-in-out all 1s;
}
.blue{
    position: absolute;
    height: 50%;
    left: 2%;
    top: 2%;
    transition: ease-in-out all 1s;
}

.form-container{
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 50%;
    height: 80%;
    background: linear-gradient(146.63deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 5%;
    border: solid white 5px;
    z-index: 9999;
}

.right-side{
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.right-side p{
    margin: 40px;
    font-size: 20px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    cursor: pointer;
    position: relative;
}
.right-side p:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0%;
    bottom: -5px;
    left: 50%;
    transition: width 0.4s ease 0s, left 0.4s ease 0s;
    width: 0;
}
.right-side p:hover:after{
    left: 0;
    width: 100%;
}

.active a{
    color: #D88100 !important;
}

.active:after{
    background-color: #D88100 !important;
}

.right-side p a{
    text-decoration: none;
    color: white;
}


.name-container{
    display: flex;
}

.name-container .first-name{
    
}